
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  width: 200px;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}


button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button.number {
  background-color: #ddd;
}

button.operator {
  background-color: rgb(9, 92, 187);
}

button.equal {
  background-color: rgb(9, 92, 187);
}

button.clear {
  background-color: rgb(9, 92, 187);
}
